* {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

body{
    background: #465775;
    font-family: "微軟正黑體";
    color:#21295C;
}

.container-fluid>.row{
    margin:1.5rem auto;
}

header{
    background-color:#fff;
    padding: 1rem;
    border-radius:0.25rem;
    display: flex;
}

header>.header-logo{
    width:174px;
    height: 95px;
    overflow: hidden;
    padding: 0;
}

header>.header-title{
    display: flex;
    align-items: center;
    width: calc(100% - 174px);
    height: 95px;
    padding-left: 2rem;
}

#collaborator-logo{
    width:100%;
    height:100%;
    border-radius:0.25rem;
}

.notifications-group{
    display: flex;
    align-items: center !important;
    position: absolute;
    top:7rem;
    right:1rem;
}

.notifications-group > *:not(:last-child){
    margin-right: 2.5rem;
}

#notifications-number{
    position: absolute;
    top:0;
    left:3rem;
}

#notifications-text{
    white-space:nowrap;
}

.logout-btn{background-color: #A4B494;color:#fff;}
.logout-btn:hover{background-color: rgb(137, 160, 113);color:#fff;}

@media (max-width: 767px) {
    #title{font-size:20px;}
    .notifications-group{top:7.2rem;border:1px;}
    .notifications-group > *:not(:last-child){margin-right: 1.2rem;}
    .notifications-icon{width: 2rem;}
    #notifications-number{left:1.5rem;font-size: 1rem;}
    .logout-btn{font-size: 1.2rem;}
}

@media (max-width: 480px) {
    #title{font-size:18px;}
    .notifications-group{top:7.5rem;}
    .notifications-group > *:not(:last-child){margin-right: 0.5rem;}
    .notifications-icon{width: 2rem;}
    #notifications-number{left:1.5rem;font-size: 1rem;}
    #notifications-text{font-size: 1rem;}
    .logout-btn{font-size: 1rem;}
    header>.header-logo{
        width:calc(174px * 0.7);
        height: calc(95px * 0.7);
    }
    header>.header-title{
        display: flex;
        align-items: flex-start;
        width: calc(100% - 174px);
        height: 95px;
        padding-left: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .notifications-group{top:7.5rem;}
    .notifications-group > *:not(:last-child){margin-right: 1.5rem;}
    .notifications-icon{width: 2.5rem;}
    #notifications-number{left:2rem;font-size: 1.2rem;}
    .logout-btn{font-size: 1.2rem;}
}